.timer-layout {
	--gray-border: rgb(235, 235, 235);
	--gray-bg: rgb(248, 250, 248);
	--gray-nav: rgb(242, 243, 243);
	--grey: rgb(192, 191, 191);
	--blue: rgb(35, 82, 170);

	--clr-text: rgb(110, 120, 110);
	// --clr-text-dark: rgb(36, 36, 36);
	--clr-text-dark: rgb(58, 58, 58);

	--nav-pad: 0.2rem;
	--aside-width: 283px;

	--section-maxwidth: 450px;

	font-family: "Courier New", Courier, monospace;
	font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
		"Lucida Sans Unicode", Geneva, Verdana, sans-serif;
	font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
		sans-serif;

	position: relative;
	background-color: var(--gray-bg);

	h1,
	h2,
	p {
		color: var(--clr-text);
	}

	@media screen and (max-width: 670px) {
		.header-bg {
			position: fixed;
			z-index: 2;
			top: 0;
			left: 0;
			width: 100%;
			height: 38.3px;
			background-color: var(--gray-bg);
		}
	}

	@media screen and (min-width: 670px) {
		display: flex;

		main {
			flex: 1;
		}
	}

	aside {
		position: fixed;
		top: 0;
		left: 0;

		display: flex;
		flex-direction: column;
		min-height: 100vh;
		border-right: var(--gray-border) 1px solid;
		padding-inline: var(--nav-pad);
		background-color: var(--gray-nav);
		transition: translate 600ms ease-in-out, width 600ms ease-in-out;

		header.top {
			&:not(:last-child) {
				margin-block-end: var(--nav-pad);
			}

			button {
				margin-block-start: var(--nav-pad);
				width: 40px;
				height: 35px;
				text-align: center;

				&:hover {
					background-color: white;
				}
			}

			div {
				display: none;
				align-items: center;
				gap: 0.7rem;
				border-radius: 4px;
				padding: calc(var(--nav-pad) * 3);

				.title {
					font-size: 0.9rem;
					color: var(--clr-text-dark);
				}
			}
		}

		nav {
			flex: 1;
			display: flex;
			flex-direction: column;
			justify-content: space-between;

			ul {
				li {
					position: relative;

					&:not(:last-child) {
						margin-block-end: var(--nav-pad);
					}

					a {
						&.active,
						&:hover {
							border-radius: 4px;
							background-color: var(--gray-border);
						}
						&.active {
							&::before {
								content: "";
								position: absolute;
								left: 0;
								display: inline-block;
								border-radius: 50px;
								width: 3px;
								height: 12px;
								background-color: var(--blue);
							}
						}

						.title {
							font-size: 0.95rem;
						}
					}

					* {
						color: var(--clr-text-dark);
					}

					.icon-container {
						* {
							font-size: 1.2rem;
						}
					}
				}
			}
		}

		@media screen and (max-width: 670px) {
			z-index: 2;
			border-radius: 0 10px 10px 0;
			box-shadow: 1px 1px 2px var(--clr-text);
			min-width: var(--aside-width);
			translate: -285px;

			header.top {
				visibility: hidden;
			}

			&.show {
				translate: 0px;
				opacity: 1;

				nav {
					display: flex;
				}
			}
		}

		@media screen and (min-width: 670px) and (max-width: 879px) {
			nav {
				ul {
					li {
						.title {
							display: none;
						}
					}
				}
			}

			&.show {
				min-width: var(--aside-width);
				border-radius: 0 10px 10px 0;
				box-shadow: 1px 1px 2px var(--clr-text);

				nav {
					display: flex;

					ul {
						li {
							.title {
								display: initial;
							}
						}
					}
				}
			}
		}

		@media screen and (min-width: 879px) {
			height: 100vh;
			min-width: var(--aside-width);

			header.top {
				button {
					display: none;
				}

				div {
					display: flex;
				}
			}
		}
	}

	.aside-placeholder {
		display: none;

		@media screen and (min-width: 670px) and (max-width: 879px) {
			display: block;
			min-width: 52px;
		}

		@media screen and (min-width: 879px) {
			display: block;
			min-width: var(--aside-width);
		}
	}

	.main {
		flex: 1;

		header {
			display: flex;
			align-items: center;
			padding-inline: 1rem;
			width: 100%;

			button {
				display: grid;
				place-items: center;
			}

			div {
				.title {
					font-size: 0.9rem;
				}
			}

			@media screen and (max-width: 670px) {
				position: fixed;
				top: 0;
				left: 0;
				z-index: 2;
				height: 38.3px;
				gap: 5px;
			}

			@media screen and (min-width: 670px) and (max-width: 879px) {
				padding-inline-start: 0.2rem;
				pointer-events: none;

				button {
					display: none;
				}

				div {
					padding-inline: 0;
				}
			}

			@media screen and (min-width: 879px) {
				* {
					display: none;
				}
			}
		}

		.header-placeholder {
			@media screen and (max-width: 670px) {
				display: block;
				width: 100%;
				height: 38.3px;
			}
		}
	}
}

.timer-page {
	display: grid;
	grid-template-rows: 487px;
	gap: 0.8rem;
	padding: 1rem;
	min-height: 100vh;

	section {
		border: var(--gray-border) 1px solid;
		border-radius: 6px;
		padding-block-start: 2.8rem;
		padding-block-end: 3.5rem;
		padding-inline: 1rem;
		background-color: white;
		text-align: center;
	}

	.set-focus-section {
		.section-header {
			margin-bottom: 1.7rem;

			h1 {
				margin-bottom: 0.6rem;
				font-size: 1.35rem;
				font-weight: 500;
				color: var(--clr-text-dark);
			}

			p {
				font-size: 0.95rem;
			}
		}

		form {
			> * {
				margin-bottom: 0.6rem;
			}

			.focus-time-selector-container {
				h1 {
					margin-bottom: 1rem;
					margin-inline: auto;
					width: 60%;
					font-size: 1rem;
				}

				.focus-time-selector {
					display: flex;
					border: var(--gray-border) 1px solid;
					border-bottom: black 1px solid;
					border-radius: 4px;
					margin-bottom: 1.1rem;
					margin-inline: auto;
					width: 160px;

					> div {
						&:first-child {
							flex: 2;
							border-right: var(--gray-border) 1px solid;
							padding-block: 0.7rem;
							text-align: center;

							h2 {
								font-size: 3rem;
								font-weight: lighter;
								color: var(--clr-text-dark);
							}

							p {
								font-size: 0.9rem;
							}
						}

						&:last-child {
							display: flex;
							flex-direction: column;
							align-items: center;

							span {
								flex: 1;
								display: grid;
								place-items: center;
								padding-inline: 1rem;

								&.disabled {
									color: var(--grey);
								}

								&:first-child {
									border-bottom: var(--grey) 1px solid;
								}
							}
						}
					}
				}
			}

			> p {
				font-size: 0.95rem;
				color: var(--clr-text);
			}
			label {
				color: var(--clr-text);
			}

			.skip-breaks-toggle {
				&.disabled {
					color: var(--grey);
				}
			}
			button {
				display: flex;
				justify-content: center;
				align-items: center;
				gap: 0.3rem;
				border-radius: 4px;
				margin-top: 1.7rem;
				margin-inline: auto;
				padding-block: 0.3rem;
				padding-inline: 0.5rem;
				background-color: var(--blue);
				color: white;

				span {
					display: grid;
					place-items: center;

					> * {
						font-size: 1.5rem;
					}
				}
			}
		}
	}

	.track-focus-section {
		> div:first-child {
			span {
				color: var(--blue);
				font-size: 3rem;
			}
		}
	}

	.stopwatch-section {
		display: flex;
		flex-direction: column;
		overflow-y: hidden;
		padding-block-end: 0;

		.watch-container {
			display: flex;
			justify-content: center;
			margin-block-end: 1.1rem;
			text-align: center;
			font-size: clamp(2.5rem, 5vw, 3.8rem);
			color: var(--clr-text-dark);

			&.idle {
				color: var(--clr-text);
			}

			div {
				span {
					display: block;
					font-size: 0.7rem;
				}
			}
		}

		.watch-controller {
			display: flex;
			align-items: center;
			justify-content: center;
			gap: 0.7rem;

			span {
				display: grid;
				place-items: center;
				font-size: 2rem;
				cursor: pointer;

				&:first-child {
					color: var(--blue);
				}

				&.blur {
					svg {
						color: var(--grey);
						pointer-events: none;
					}
				}
			}
			> span {
				border: solid 1px var(--grey);
				border-radius: 50%;
				width: 2rem;
				height: 2rem;
				font-size: 1rem;
			}
		}

		.bookmark {
			padding-block-start: 1.5rem;
			overflow-y: scroll;
			max-height: 20px;

			// border: solid;

			thead {
				border-bottom: 1px var(--clr-text) solid;

				tr {
					border-bottom: 1px var(--clr-text) solid;
				}

				th {
					text-align: left;
				}
			}

			tbody {
				height: 20px;

				tr {
					padding-block: 1rem;
				}
			}
		}
	}

	.to-do-section {
		padding-block-start: 1rem;
		padding-block-end: 3.5rem;
		padding-inline: 1rem;

		.section-header {
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin-block-end: 3rem;

			h1 {
				font-size: 0.95rem;
				color: var(--clr-text-dark);
			}
		}
	}

	.daily-progress-section {
		padding-block-start: 1rem;
		padding-block-end: 3.5rem;
		padding-inline: 1rem;

		.section-header {
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin-block-end: 2rem;

			h1 {
				font-size: 0.95rem;
				color: var(--clr-text-dark);
			}
		}

		.section-main {
			display: flex;
			justify-content: space-between;
			align-items: center;

			.progress-container {
				* {
					color: var(--clr-text-dark);
				}

				h2 {
					font-size: 0.95rem;
					font-weight: normal;
				}

				div {
					p {
						font-size: 0.95rem;

						&:first-child {
							font-size: 2.2rem;
						}
					}
				}
			}
		}
	}

	@media screen and (max-width: 670px) {
		padding-top: 0;
	}

	@media screen and (min-width: 670px) {
		padding: 2rem;
		grid-template-columns: repeat(2, 1fr);
		max-width: 916px;
	}

	@media screen and (min-width: 670px) and (max-width: 879px) {
		padding-block: 0.5rem;
	}

	@media screen and (min-width: 879px) {
		padding-block-start: 2.6rem;
	}
}

// util class
.flex-list {
	display: flex;
	align-items: center;
	gap: 0.7rem;
	padding: calc(var(--nav-pad) * 3);
	border-radius: 4px;

	&:not(:last-child) {
		margin-block-end: var(--nav-pad);
	}
}
