.timer-page {
	--gray: rgb(110, 110, 110);
	--gray-border: rgb(216, 216, 216);
	--gray-bg: rgb(248, 248, 248);
	--grey: rgb(192, 191, 191);
	--blue: rgb(35, 82, 170);

	font-family: "Courier New", Courier, monospace;
	font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
		"Lucida Sans Unicode", Geneva, Verdana, sans-serif;
	font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
		sans-serif;

	display: flex;
	gap: 1rem;
	padding: 2rem;
	min-height: 100vh;
	background-color: var(--gray-bg);

	section {
		flex: 1;
		border: var(--gray-border) 1px solid;
		border-radius: 6px;
		padding: 3rem;
		background-color: white;
		text-align: center;

		&:first-child {
			.section-header {
				margin-bottom: 1.7rem;

				h1 {
					margin-bottom: 0.6rem;
					font-size: 1.35rem;
					font-weight: 500;
				}

				p {
					font-size: 0.95rem;
					color: var(--gray);
				}
			}

			form {
				> * {
					margin-bottom: 0.6rem;
				}

				.focus-time-selector-container {
					h1 {
						margin-bottom: 1rem;
						margin-inline: auto;
						width: 60%;
						font-size: 1rem;
					}

					.focus-time-selector {
						display: flex;
						border: var(--grey) 1px solid;
						border-bottom: black 1px solid;
						border-radius: 4px;
						margin-bottom: 1.1rem;
						margin-inline: auto;
						width: 200px;

						> div {
							&:first-child {
								flex: 2;
								border-right: var(--grey) 1px solid;
								padding-block: 1rem;
								text-align: center;

								h2 {
									font-size: 3rem;
									font-weight: 500;
								}

								p {
									font-size: 0.9rem;
									color: var(--gray);
								}
							}

							&:last-child {
								display: flex;
								flex-direction: column;
								align-items: center;

								span {
									flex: 1;
									display: grid;
									place-items: center;
									padding-inline: 1rem;

									&.disabled {
										color: var(--grey);
									}

									&:first-child {
										border-bottom: var(--grey) 1px solid;
									}
								}
							}
						}
					}
				}

				> p {
					font-size: 0.95rem;
				}

				.skip-breaks-toggle {
					&.disabled {
						color: var(--grey);
					}
				}
				button {
					display: flex;
					justify-content: center;
					align-items: center;
					gap: 0.3rem;
					border-radius: 4px;
					margin-top: 1.7rem;
					margin-inline: auto;
					padding-block: 0.3rem;
					padding-inline: 0.5rem;
					background-color: var(--blue);
					color: white;

					span {
						display: grid;
						place-items: center;

						> * {
							font-size: 1.5rem;
						}
					}
				}
			}
		}
	}

	.track-focus-section {
		> div {
			div {
				display: grid;
				place-items: center;
				border: 15px solid var(--grey);
				border-radius: 50%;
				margin-block-end: 1rem;
				margin-inline: auto;
				width: 220px;
				height: 220px;
				font-size: 4rem;
			}

			span {
				color: var(--blue);
				font-size: 3rem;
			}
		}
	}

	.stopwatch-section {
		.watch-container {
			display: flex;
			justify-content: center;
			margin-block-end: 1.1rem;
			text-align: center;
			font-size: 3.8rem;

			&.idle {
				color: var(--gray);
			}

			div {
				span {
					display: block;
					font-size: 0.7rem;
				}
			}
		}

		.watch-controller {
			display: flex;
			justify-content: center;
			gap: 0.5rem;

			span {
				font-size: 2rem;

				&:first-child {
					color: var(--blue);
				}
			}
		}
	}

	@media screen and (max-width: 675px) {
		flex-direction: column;

		// section {
		// 	&:first-child {
		// 		margin-block-end: 1rem;
		// 	}
		// }
	}

	@media screen and (min-width: 675px) {
		section {
			flex: 1;
		}
	}
}
