html {
	&.hide-scrollbar {
		-ms-overflow-style: none; /* IE and Edge */
		scrollbar-width: none; /* Firefox */
		&::-webkit-scrollbar {
			display: none;
		}
	}
	scroll-behavior: smooth;
}

@import url("https://fonts.googleapis.com/css2?family=Inter+Tight:wght@300&display=swap");

.projects-page {
	--pad: 2vw;
	--bg-color: rgb(233, 233, 233);

	min-height: 100vh;
	background-image: url("../../assets/images/bubbles.gif");
	background-color: var(--bg-color);
	// mix-blend-mode: darken;
	background-blend-mode: lighten;
	font-family: "Inter Tight", sans-serif;
	font-size: 0.8rem;
	text-transform: uppercase;
	cursor: none;

	.page-header {
		position: sticky;
		top: 0;
		z-index: 90;
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding-inline: var(--pad);
		padding-block: calc(var(--pad) / 2);
		width: 100%;
		background-color: var(--bg-color);
		// overflow-y: hidden;

		* {
			transition: all 100ms ease-in-out;

			&.hide {
				transform: translateY(calc(100% + 29px));
				opacity: 0;
			}
			&.show {
				transform: translateY(0);
				opacity: 1;
			}
		}

		> div {
			display: flex;
			align-items: center;
		}

		> div:first-child {
			gap: 0.5rem;

			.rotate {
				position: relative;
				border: 1px solid;
				border-radius: 50%;
				width: 30px;
				height: 30px;

				&::after {
					content: "";
					position: absolute;
					border-radius: 50%;
					width: 10px;
					height: 10px;
					background-color: black;
				}
			}
		}
	}

	.projects-section {
		.projects-header {
			display: flex;
			align-items: flex-end;
			justify-content: space-between;
			border-bottom: solid 1px black;
			margin-inline: var(--pad);
			padding-block-start: 1vw;
			padding-block-end: calc(var(--pad) / 4);

			h1 {
				font-size: 4rem;
				text-align: center;
				text-transform: uppercase;
			}

			.filter {
				margin-block-end: 10px;
			}
		}

		.projects-cards {
			display: grid;
			grid-template-columns: 1fr;
			padding-inline: var(--pad);

			.project-card-wrapper {
				border-bottom: solid 1px;
				padding-block-start: calc(var(--pad) / 0.8);
				padding-block-end: calc(var(--pad) * 3.5);
			}

			.project-card {
				.image-container {
					position: relative;
					width: 100%;
					height: 360px;
					scale: 1/1;
					margin-block-end: 1rem;
					animation-name: pulsing;
					animation-duration: 1500ms;
					animation-iteration-count: infinite;

					&:hover {
						animation-duration: 500ms;
					}
				}

				.project-details {
					p {
						color: black;
						font-size: 0.7rem;
						font-weight: lighter;

						&:first-child {
							margin-block-end: 0.8rem;
						}

						&.title {
							font-size: 1.1rem;
						}
					}
				}
			}

			@media screen and (max-width: 675px) {
				.ade {
					flex-direction: column;
				}
			}

			@media screen and (min-width: 675px) {
				grid-template-columns: repeat(2, 1fr);

				.project-card-wrapper {
					border-right: solid 1px;
					padding-inline-end: calc(var(--pad) / 2);
					padding-block-start: calc(var(--pad) / 2);
					padding-block-end: calc(var(--pad) * 1.5);

					&:nth-child(2n) {
						border-right: none;
						padding-inline-end: 0;
						padding-inline-start: calc(var(--pad) / 2);
					}
				}

				.project-card {
					.image-container {
						height: 460px;
					}
				}
			}
		}
	}

	@keyframes pulsing {
		from {
			transform: scale(0.98, 0.98);
		}
		to {
			transform: scale(1, 1);
		}
	}

	.mouse-tracker {
		position: fixed;
		border-radius: 50%;
		width: 10px;
		height: 10px;
		// z-index: 100;
		pointer-events: none;
		mix-blend-mode: color-burn;

		&.primary {
			background-color: black;
			z-index: 101;
		}

		&.secondary {
			// background-color: rgba(255, 0, 0, 0.377);
			// backdrop-filter: greyscale();
			border: 1px solid;
			width: 50px;
			height: 50px;
		}
	}

	.filter {
		position: relative;

		text-transform: uppercase;
		width: 150px;

		.menu-visible {
			.menu-toggle {
				margin-inline-start: 0.3rem;
			}
		}

		.menu {
			position: absolute;
			left: 0;
			top: calc(100% + 0.4rem);
			z-index: 10;
			border-radius: 5px;
			width: 100%;
			height: fit-content;
			background-color: white;

			&.hidden {
				display: none;
			}
			&.visible {
				display: block;
			}

			li {
				padding-block: 0.8rem;
				padding-inline: 1.1rem;

				&:hover {
					background-color: var(--bg-color);
				}
			}
		}
	}

	// util
	.hover {
		position: relative;
		text-transform: uppercase;
		overflow: hidden;

		&:after {
			content: "";
			position: absolute;
			top: calc(100% + 2px);
			left: 0;
			display: block;
			width: 100%;
			border-bottom: solid 1px black;
			transform: scaleX(0);
			transform-origin: 0% 50%;
			transition: transform 250ms ease-in-out;
		}

		&:hover:after {
			transform: scaleX(1);
		}
	}

	.test {
		* {
			animation-play-state: paused;
			transform: scale(1, 1);
		}
	}
}
