html {
	&.hide-scrollbar {
		-ms-overflow-style: none; /* IE and Edge */
		scrollbar-width: none; /* Firefox */

		&::-webkit-scrollbar {
			display: none;
		}
	}

	scroll-behavior: smooth;
}

@import url("https://fonts.googleapis.com/css2?family=Inter+Tight:wght@300&display=swap");

.projects-list-layout {
	--pad: 2vw;
	--bg-color: rgb(233, 233, 233);

	* {
		&::selection {
			background: #ccc4b9;
		}
	}

	min-height: 100vh;
	// background-image: url("../../assets/images/bubbles.gif");
	background-color: var(--bg-color);
	// mix-blend-mode: darken;
	background-blend-mode: lighten;
	font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
	font-size: 0.8rem;
	text-transform: uppercase;
	cursor: none;

	header.page-header {
		font-family: "Inter Tight", sans-serif;

		position: sticky;
		top: 0;
		z-index: 90;
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding-inline: var(--pad);
		padding-block: calc(var(--pad) / 2);
		width: 100%;
		height: 58px;
		background-color: var(--bg-color);

		*:not(.separator) {
			transition: all 500ms ease-in-out;

			&.hide {
				transform: translateY(calc(100% + 29px));
				opacity: 0;
			}
			&.show {
				transform: translateY(0);
				opacity: 1;
			}
		}

		> div {
			display: flex;
			align-items: center;

			&.title-container {
				gap: 0.2rem;
				overflow-y: hidden;

				.brand-title {
					display: flex;
					align-items: center;
					gap: 0.5rem;

					h1 {
						font-size: 0.85rem;
						font-weight: lighter;
						text-transform: none;
					}
				}

				.separator {
					transition: all 500ms ease-in-out;
					border-bottom: solid 1px black;
					width: 12px;

					&.hide {
						transform: scaleX(0);
					}
					&.show {
						transform: scaleX(1);
						transform-origin: 0% 50%;
					}
				}
			}

			&.hover {
				span {
					display: block;
				}
			}
		}

		@media screen and (max-width: 760px) {
			> div {
				&.filter {
					display: none;
				}
			}
		}
	}

	.projects-section {
		.projects-header {
			display: flex;
			align-items: flex-end;
			justify-content: space-between;
			// border-bottom: solid 1px black;
			margin-inline: var(--pad);
			padding-block-start: 1vw;
			padding-block-end: calc(var(--pad) / 4);

			h1 {
				font-size: clamp(2rem, 5vw, 7rem);
				text-align: center;
				text-transform: uppercase;
				font-weight: bolder;
			}

			.filter {
				margin-block-end: 10px;
			}
		}

		.projects-cards {
			display: grid;
			grid-template-columns: 1fr;
			grid-row-gap: 3vw;
			padding-inline: var(--pad);
			// padding-top: 3vw;

			.project-card-wrapper {
				position: relative;
				padding-block-start: calc(var(--pad) / 0.8);
				padding-block-end: calc(var(--pad) * 3.5);

				.line {
					position: absolute;
					bottom: calc(100% + 2px);
					left: 0;
					width: 100%;
					border-top: solid 1px black;
					// transform: scaleX(0);
					transform-origin: 100% 50%;
					// transition: transform 300ms ease-in;
				}

				.project-card {
					.image-bg {
						border: solid black 1px;
						margin-block-end: 1rem;
						width: 100%;
						height: auto;

						.image-container {
							position: relative;
							scale: 1/1;
							// animation-name: pulsing;
							animation-duration: 1500ms;
							animation-iteration-count: infinite;

							&:hover {
								animation-duration: 500ms;
							}
						}
					}

					.project-details {
						p {
							color: black;
							font-size: 0.7rem;
							font-weight: lighter;

							&:first-child {
								margin-block-end: 0.8rem;
							}

							&.title {
								font-size: 1.1rem;
							}
						}
					}
				}

				&:nth-child(2n) {
					.line {
						transform-origin: 0% 0%;
						// transition: transform 250ms ease-in;
					}
				}
			}

			@media screen and (max-width: 675px) {
				.project-card {
					.image-bg {
						.image-container {
							width: 100%;
							min-height: 250px;
						}
					}
				}
			}

			@media screen and (min-width: 675px) {
				grid-template-columns: 1fr 1fr;
				grid-template-rows: auto;
				grid-auto-columns: 1fr;
				grid-column-gap: 0vw;
				grid-row-gap: 0vw;

				.project-card-wrapper {
					border-right: solid 1px;
					padding-inline-end: calc(var(--pad) / 2);
					padding-block-start: calc(var(--pad) / 2);
					padding-block-end: calc(var(--pad) * 1.5);

					.project-card {
						.image-container {
							height: 460px;
						}
					}

					&:nth-child(2n) {
						border-right: none;
						padding-inline-end: 0;
						padding-inline-start: calc(var(--pad) / 2);
					}
				}
			}
		}
	}

	@keyframes pulsing {
		from {
			transform: scale(0.99, 0.99);
		}
		to {
			transform: scale(1, 1);
		}
	}

	.filter {
		position: relative;
		text-transform: uppercase;
		min-width: 150px;

		.menu-visible {
			.menu-toggle {
				margin-inline-start: 0.3rem;
			}
		}

		.menu {
			position: absolute;
			left: 0;
			top: calc(100% + 0.4rem);
			z-index: 10;
			border-radius: 5px;
			width: 100%;
			height: fit-content;
			background-color: white;

			&.hidden {
				display: none;
			}
			&.visible {
				display: block;
			}

			li {
				padding-block: 0.8rem;
				padding-inline: 1.1rem;

				&:hover {
					background-color: var(--bg-color);
				}
			}
		}
	}

	// util
	.hover {
		position: relative;
		text-transform: uppercase;
		overflow: hidden;

		&:after {
			content: "";
			position: absolute;
			top: calc(100% + 2px);
			left: 0;
			display: block;
			width: 100%;
			border-bottom: solid 1px black;
			transform: scaleX(0);
			transform-origin: 0% 50%;
			transition: transform 250ms ease-in-out;
		}

		&:hover:after {
			transform: scaleX(1);
		}
	}

	.test {
		* {
			animation-play-state: paused;
			transform: scale(1, 1);
		}
	}
}

.scroll-progress-indicator {
	position: relative;
	border: 1px solid;
	border-radius: 50%;
	width: 22px;
	height: 22px;

	&::after {
		content: "";
		position: absolute;
		border-radius: 50%;
		width: 10px;
		height: 10px;
		background-color: black;
	}
}

.mouse-tracker {
	position: fixed;
	z-index: 101;
	border-radius: 50%;
	width: 10px;
	height: 10px;
	pointer-events: none;

	&.primary {
		background-color: black;
	}

	&.secondary {
		// applies to everything behind the element
		backdrop-filter: brightness(100px);
		border: 1px solid;
		width: 50px;
		height: 50px;

		background-color: transparent;
	}

	&.hide {
		display: none;
	}

	@media screen and (max-width: 760px) {
		display: none;
	}
}
