* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
li {
	list-style: none;
}
a {
	text-decoration: none;
}

.main-layout {
	display: flex;
	min-height: 100vh;
}

aside {
	flex: 0.8;
	padding-block: 1.5rem;
	padding-inline: 2rem;
	background-color: grey;
	color: white;
}
.main-contents {
	position: relative;
	flex: 3;
	display: flex;
	flex-direction: column;
	background-color: gainsboro;
}
/* .main-contents header { */
/* background-color: grey; */
/* } */
.main-contents header nav {
	padding-block: 1.5rem;
	padding-inline: 3rem;
}
.main-contents header nav a {
	color: black;
}
.main-contents main {
	flex: 1;
}

/* Footer */
.main-contents footer {
	position: absolute;
	bottom: 0;
	right: 0;
	background-color: white;
	padding-block: 1.5rem;
	padding-inline: 3rem;
	width: 100%;
	border-radius: 10px 10px 0 0;
}
/* .main-contents footer form .add-task-input-container { */
/* display: flex;
	align-items: flex-start;
	flex-direction: column; */
/* color: black; */
/* } */
.main-contents footer form .add-task-input-container {
	margin-block-end: 1rem;
}
.main-contents footer form .add-task-input-container div:first-child {
	display: flex;
	align-items: flex-start;
	gap: 2rem;
	width: 100%;
	color: black;
}
.main-contents footer form .add-task-input-container div textarea {
	flex: 1;
}
.main-contents footer form .add-task-input-container div textarea,
.main-contents footer form .add-task-input-container div textarea:focus,
.main-contents footer form .add-task-input-container div textarea:focus-within,
.main-contents
	footer
	form
	.add-task-input-container
	div
	textarea:focus-visible {
	border: transparent;
	outline: transparent;
}
.main-contents footer form .add-task-input-container div span {
	display: grid;
	place-items: center;
	border-radius: 50%;
	width: 1.5rem;
	height: 1.5rem;
	background: gray;
	color: white;
	cursor: pointer;
}
.main-contents footer form .add-task-input-container button {
	/* padding: 1rem; */
	padding: 0.5rem;
	height: 50%;
}
.main-contents footer form .options-dropdown.hidden {
	display: none;
}
.main-contents footer form .options-dropdown > div {
	margin-block-end: 1rem;
}
.main-contents footer form .options-dropdown > div h2 {
	font-size: 1rem;
}

/* .home-page */
section {
	border-radius: 10px;
	padding: 1.5rem;
	margin-inline: 3rem;
	background-color: white;
}
.home-page section h1 {
	margin-bottom: 1rem;
}
.home-page ul li {
	list-style: none;
}
.home-page ul li div {
	display: flex;
	align-items: center;
	gap: 0.5rem;
}
.home-page ul li + li {
	margin-block-start: 1rem;
}
.home-page ul li div.completed > a {
	text-decoration: line-through;
}
