.timer-layout {
	--gray-border: rgb(235, 235, 235);
	--gray-bg: rgb(248, 250, 248);
	--gray-nav: rgb(242, 243, 243);
	--grey: rgb(192, 191, 191);
	--blue: rgb(35, 82, 170);

	--clr-text: rgb(110, 120, 110);
	// --clr-text-dark: rgb(36, 36, 36);
	--clr-text-dark: rgb(58, 58, 58);

	--nav-pad: 0.2rem;
	--aside-width: 283px;

	--section-maxwidth: 450px;

	--border-radius: 4px;

	--norm-fs: 0.9rem;
	--small-fs: 0.75rem;

	--icon-size: 1.2rem;

	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
		Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
		sans-serif;
	background-color: var(--gray-bg);

	h1,
	h2,
	h3,
	p,
	span {
		color: var(--clr-text);
		font-size: var(--norm-fs);
		font-weight: 400;
	}

	.header-bg {
		position: fixed;
		z-index: 2;
		top: 0;
		height: 38.3px;
		background-color: var(--gray-bg);

		@media screen and (max-width: 670px) {
			left: 0;
			width: 100%;
		}

		@media screen and (min-width: 670px) and (max-width: 879px) {
			right: 0;
			width: calc(100% - 47.7px);
		}

		@media screen and (min-width: 879px) {
			right: 0;
			width: calc(100% - var(--aside-width));
		}
	}

	@media screen and (min-width: 670px) {
		display: flex;

		main {
			flex: 1;
		}
	}

	aside {
		position: fixed;
		top: 0;
		left: 0;
		display: flex;
		flex-direction: column;
		min-height: 100vh;
		border-right: var(--gray-border) 1px solid;
		padding-inline: var(--nav-pad);
		background-color: var(--gray-nav);
		transition: translate 600ms ease-in-out, width 600ms ease-in-out;

		.title {
			color: var(--clr-text-dark);
		}

		header.top {
			&:not(:last-child) {
				margin-block-end: var(--nav-pad);
			}

			button {
				margin-block-start: var(--nav-pad);
				width: 40px;
				height: 35px;
				text-align: center;

				&:hover {
					background-color: white;
				}
			}

			div {
				display: none;
				align-items: center;
				gap: 0.7rem;
				border-radius: var(--border-radius);
				padding: calc(var(--nav-pad) * 3);
			}
		}

		nav {
			flex: 1;
			display: flex;
			flex-direction: column;
			justify-content: space-between;

			ul {
				li {
					position: relative;

					&:not(:last-child) {
						margin-block-end: var(--nav-pad);
					}

					a {
						&.active,
						&:hover {
							border-radius: var(--border-radius);
							background-color: var(--gray-border);
						}
						&.active {
							&::before {
								content: "";
								position: absolute;
								left: 0;
								display: inline-block;
								border-radius: 50px;
								width: 3px;
								height: 12px;
								background-color: var(--blue);
							}
						}
					}

					* {
						color: var(--clr-text-dark);
					}

					.icon-container {
						* {
							font-size: var(--icon-size);
						}
					}
				}
			}
		}

		@media screen and (max-width: 670px) {
			z-index: 2;
			border-radius: 0 10px 10px 0;
			box-shadow: 1px 1px 2px var(--clr-text);
			min-width: var(--aside-width);
			translate: -285px;

			header.top {
				visibility: hidden;
			}

			&.show {
				translate: 0px;
				opacity: 1;

				nav {
					display: flex;
				}
			}
		}

		@media screen and (min-width: 670px) and (max-width: 879px) {
			nav {
				ul {
					li {
						.title {
							display: none;
						}
					}
				}
			}

			&.show {
				min-width: var(--aside-width);
				border-radius: 0 10px 10px 0;
				box-shadow: 1px 1px 2px var(--clr-text);

				nav {
					display: flex;

					ul {
						li {
							.title {
								display: initial;
							}
						}
					}
				}
			}
		}

		@media screen and (min-width: 879px) {
			height: 100vh;
			min-width: var(--aside-width);

			header.top {
				button {
					display: none;
				}

				div {
					display: flex;
				}
			}
		}
	}

	.aside-placeholder {
		display: none;

		@media screen and (min-width: 670px) and (max-width: 879px) {
			display: block;
			min-width: 52px;
		}

		@media screen and (min-width: 879px) {
			display: block;
			min-width: var(--aside-width);
		}
	}

	.main {
		flex: 1;

		header {
			display: flex;
			align-items: center;
			padding-inline: 1rem;
			width: 100%;

			button {
				display: grid;
				place-items: center;
			}

			@media screen and (max-width: 670px) {
				position: fixed;
				top: 0;
				left: 0;
				z-index: 2;
				height: 38.3px;
				gap: 5px;
			}

			@media screen and (min-width: 670px) and (max-width: 879px) {
				padding-inline-start: 0.2rem;
				pointer-events: none;

				button {
					display: none;
				}

				div {
					padding-inline: 0;
				}
			}

			@media screen and (min-width: 879px) {
				* {
					display: none;
				}
			}
		}

		main {
			min-height: 100vh;

			@media screen and (max-width: 670px) {
				margin-top: 38.3px;
			}

			@media screen and (min-width: 879px) {
				margin-top: 38.3px;
			}
		}
	}
}

.settings-page {
	display: flex;
	flex-direction: column;
	padding-inline: 1rem;
	overflow-y: hidden;

	*,
	h1,
	h2,
	h3,
	p {
		color: var(--clr-text-dark);
	}

	h1 {
		padding-block-end: 1.8rem;
		font-size: 2.5rem;
		font-weight: 600;
	}

	.sections-container {
		flex: 1;
		width: 100%;
		overflow-y: scroll;

		.settings-sections-container {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			gap: 1rem;

			section {
				width: 100%;
				margin-block-end: 1rem;

				h2 {
					margin-block-end: 0.6rem;
				}

				.settings-container {
					display: flex;
					flex-direction: column;
					gap: 0.3rem;

					.setting-container {
						.primary-setting,
						.secondary-settings > div {
							display: grid;
							grid-template-columns: 1fr max-content;
							grid-template-areas:
								"details  toggler"
								"actions actions";
							gap: var(--norm-fs);
							border: solid 1px var(--gray-border);
							border-radius: var(--border-radius);
							padding-block: calc(var(--nav-pad) * 3);
							padding-inline: calc(var(--nav-pad) * 6);
							background-color: white;

							#icon {
								display: none;
							}

							div {
								flex: 1;

								p {
									font-size: var(--small-fs);
								}
							}
						}

						.secondary-settings {
							display: none;

							> div {
								border-top: none;
								background-color: initial;

								div {
									flex: 1;

									p {
										font-size: 0.75rem;
									}
								}
							}

							> div:last-child {
								border-radius: 0 0 var(--border-radius)
									var(--border-radius);
							}

							&.show {
								display: block;
							}
						}

						#icon {
							grid-area: icon;
							font-size: var(--icon-size);
						}
						#details {
							grid-area: details;
						}
						#actions {
							grid-area: actions;
							align-self: center;
						}
						#toggler {
							grid-area: toggler;
						}
					}
				}
			}
		}
	}

	@media screen and (max-width: 670px) {
		padding-top: 0;
	}

	// @media screen and (min-width: 670px) {
	// 	padding: 2rem;
	// }

	@media screen and (min-width: 375px) {
		.sections-container {
			.settings-sections-container {
				section {
					.settings-container {
						.setting-container {
							.primary-setting,
							.secondary-settings > div {
								grid-template-columns: 1fr max-content 3rem;
								grid-template-areas: "details actions toggler";
							}
						}
					}
				}
			}
		}
	}

	@media screen and (min-width: 539px) {
		.sections-container {
			.settings-sections-container {
				section {
					.settings-container {
						.setting-container {
							.primary-setting,
							.secondary-settings > div {
								grid-template-columns: 1.2rem 1fr max-content 1.2rem;
								grid-template-areas: "icon details actions toggler";

								#icon {
									display: grid;
								}
							}
						}
					}
				}
			}
		}
	}

	@media screen and (min-width: 670px) and (max-width: 879px) {
		padding-block: 0.5rem;
	}

	@media screen and (min-width: 879px) {
		padding-block-start: 2.6rem;
		padding-inline: 4rem;
	}

	@media screen and (min-width: 881px) and (max-width: 900px) {
		.sections-container {
			.settings-sections-container {
				section {
					.settings-container {
						.setting-container {
							.primary-setting,
							.secondary-settings > div {
								grid-template-columns: 1fr max-content 3rem;
								grid-template-areas: "details actions toggler";

								#icon {
									display: none;
								}
							}

							.secondary-settings > div {
								grid-template-columns: 1fr max-content;
								grid-template-areas: "details actions";
							}
						}
					}
				}
			}
		}
	}

	@media screen and (min-width: 1369px) {
		padding-block-start: 2.6rem;
		padding-inline: 4rem;

		.sections-container {
			display: flex;
			gap: 3.5rem;

			.settings-sections-container {
				flex: 1;
			}
		}
	}
}

.timer-page {
	display: grid;
	grid-template-rows: 450px;
	gap: 0.8rem;
	padding: 1rem;
	padding-block-start: 0 !important;

	section {
		border: var(--gray-border) 1px solid;
		border-radius: 6px;
		padding-block-start: 2.8rem;
		padding-inline: 1rem;
		padding-block-start: 0.2rem;
		padding-block-end: 3.5rem;
		padding-inline: 0.2rem;
		background-color: white;
		text-align: center;

		.section-header {
			display: flex;
			align-items: center;

			h1 {
				padding-left: calc(var(--nav-pad) * 3);
				font-weight: 600;
				color: var(--clr-text-dark);
			}

			.tile-actions {
				margin-inline-start: auto;
				width: fit-content;

				> .icon-container,
				.menu-toggler {
					padding: calc(var(--nav-pad) * 2.5);
					border-radius: var(--border-radius);

					&:hover {
						background-color: var(--gray-border);
					}
				}

				* {
					color: black;
				}
			}
		}

		.section-main {
			padding-inline: 0.6rem;
		}
	}

	.set-focus-section {
		padding-block-start: 0.2rem;
		padding-block-end: 3.5rem;
		padding-inline: 0.2rem;

		.section-main {
			.main-header {
				margin-block-end: 1.5rem;

				h1 {
					margin-bottom: 0.6rem;
					font-size: 1.25rem;
					font-weight: 600;
					color: var(--clr-text-dark);
				}
			}

			form {
				.focus-time-selector-container {
					.focus-time-selector {
						display: flex;
						border: var(--gray-border) 1px solid;
						border-bottom: black 1px solid;
						border-radius: var(--border-radius);
						margin-block-end: var(--norm-fs);
						margin-inline: auto;
						width: 160px;

						> div {
							&:first-child {
								flex: 2;
								border-right: var(--gray-border) 1px solid;
								padding-block: 0.7rem;
								text-align: center;

								h2 {
									font-size: 2.3rem;
									font-weight: 500;
									color: var(--clr-text-dark);
								}

								p {
									font-size: var(--small-fs);
								}
							}

							&:last-child {
								display: flex;
								flex-direction: column;
								align-items: center;

								span {
									flex: 1;
									display: grid;
									place-items: center;
									padding-inline: 1rem;

									&.disabled {
										color: var(--grey);
									}

									&:first-child {
										border-bottom: var(--grey) 1px solid;
									}
								}
							}
						}
					}
				}

				.more-actions {
					margin-inline: auto;
					width: fit-content;

					.checkbox {
						margin-block-start: 0.6rem;
						width: fit-content;

						label {
							width: fit-content;
							color: var(--clr-text);
						}
					}

					.skip-breaks-toggle {
						&.disabled {
							* {
								color: var(--grey);
								border-color: var(--grey) !important;

								span {
									background-color: transparent;
								}
							}
						}
					}
				}

				> button {
					display: flex;
					justify-content: center;
					align-items: center;
					gap: 0.3rem;
					border-radius: var(--border-radius);
					margin-top: 1.7rem;
					margin-inline: auto;
					padding-block: 0.2rem;
					padding-inline: 0.5rem;
					padding-inline-end: var(--norm-fs);
					background-color: var(--blue);
					color: white;

					&:hover {
						filter: brightness(120%);
					}

					span {
						display: grid;
						place-items: center;

						> * {
							color: white;
							font-size: 1.5rem;
						}
					}
				}
			}
		}
	}

	.track-focus-section {
		.section-header {
			margin-block-end: 0.7rem;
		}

		.section-main {
			.content {
				color: var(--blue);
				font-size: 3rem;
			}

			.actions {
				display: flex;
				justify-content: center;
				align-items: center;
				gap: 0.5rem;
				margin-block-end: 1rem;

				button {
					width: 2rem;
					height: 2rem;
				}

				> button {
					color: var(--blue);
					font-size: 2rem;
				}

				.menu-container {
					button {
						background-color: white;
						border: solid 1px var(--gray-border);
						border-radius: 50%;
					}

					.menu {
						right: -70px;
						bottom: 2rem;
					}
				}
			}

			> p {
				font-size: var(--small-fs);
			}
		}
	}

	.stopwatch-section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		overflow-y: hidden;

		.section-main {
			.watch-container {
				.watch-face {
					display: flex;
					justify-content: center;
					align-items: center;
					margin-block-end: 1.1rem;
					text-align: center;
					color: var(--clr-text-dark);

					&.idle {
						color: var(--clr-text);
					}

					> div {
						div {
							font-size: clamp(2.5rem, 5vw, 3.8rem);

							> span {
								font-size: clamp(2.5rem, 5vw, 3.8rem);
							}
						}

						> span {
							display: block;
							font-size: 0.7rem;
							padding-right: 0.75rem;
						}

						&:last-child {
							font-size: clamp(1.5rem, 5vw, 2.8rem);
						}

						&:not(:last-child) {
							div {
								span {
									vertical-align: top;
								}
							}
						}
					}
				}

				.watch-controller {
					display: flex;
					align-items: center;
					justify-content: center;
					gap: 0.7rem;

					span {
						display: grid;
						place-items: center;
						font-size: 2rem;
						cursor: pointer;

						&:first-child {
							color: var(--blue);
						}

						&.blur {
							svg {
								color: var(--grey);
								pointer-events: none;
							}
						}
					}
					> span {
						border: solid 1px var(--grey);
						border-radius: 50%;
						width: 2rem;
						height: 2rem;
						font-size: 1rem;
					}
				}
			}

			.bookmark-container {
				flex: 1;
				max-height: 250px;
				overflow-y: auto;

				.bookmark {
					width: 100%;

					thead {
						tr {
							th {
								position: sticky;
								top: 0;
								border-bottom: 1px var(--gray-border) solid;
								padding-block: 0.77rem;
								margin-block-end: 0.77rem;
								background-color: white;
								text-align: left;
								font-weight: 500;
							}
						}
					}

					tbody {
						tr {
							td {
								padding-block: 0.77rem;
								text-align: left;
								font-size: 0.9rem;
								font-weight: lighter;

								&:first-child {
									width: 30px;
								}
							}
						}
					}
				}
			}
		}

		&.hide {
			display: none;
		}

		&.hide-bookmark {
			.section-main {
				display: grid;
				place-items: center;
				height: 100%;

				// .watch-container {
				// 	// flex: 1;
				// 	// height: 100%;
				// }
				.bookmark-container {
					display: none;
				}
			}
		}
	}

	.to-do-section {
		display: flex;
		flex-direction: column;

		.section-header {
			margin-block-end: 3rem;
		}

		.section-main {
			flex: 1;
			padding-inline: 2rem;

			p {
				display: grid;
				place-items: center;
				height: 100%;
			}
		}

		&.hide-tile {
			display: none;
		}

		&.hide-tasks {
			padding-block-end: 0.2rem;
			height: fit-content;

			.section-header {
				margin-block-end: 0;
			}

			.section-main {
				display: none;
			}
		}
	}

	.daily-progress-section {
		&.move {
			grid-column: 1/2;
			grid-row: 2/3;
		}

		.section-header {
			margin-block-end: 2rem;
		}

		.section-main {
			padding-inline: 0;

			> div {
				display: flex;
				justify-content: space-between;
				align-items: center;
				gap: 1rem;
				margin-block-end: 1rem;

				.progress-container {
					flex: 1;

					* {
						color: var(--clr-text-dark);
					}

					h2 {
						font-size: 0.95rem;
						font-weight: normal;
					}

					div {
						p {
							font-size: 0.95rem;

							&:first-child {
								font-size: 2.2rem;
								font-weight: 600;
							}
						}
					}
				}

				.daily {
					flex: 3;
				}

				.yesterday {
					min-width: 64px;
				}
			}
		}

		&.hide-tile {
			display: none;
		}

		@media screen and (min-width: 670px) {
			&.move {
				grid-column: 2/3;
				grid-row: 1/2;
			}
		}
	}

	@media screen and (max-width: 670px) {
		padding-top: 0;
	}

	@media screen and (min-width: 670px) {
		padding: 2rem;
		grid-template-columns: repeat(2, 1fr);
		max-width: 975px;
	}

	@media screen and (min-width: 670px) and (max-width: 879px) {
		padding-block: 0.5rem;
	}

	@media screen and (min-width: 879px) {
		padding-block-start: 2.6rem;
	}
}

.stopwatch-page {
	padding: 1rem;
	height: 100%;

	// section {
	// 	border: var(--gray-border) 1px solid;
	// 	border-radius: 6px;
	// 	padding-block-start: 2.8rem;
	// 	padding-inline: 1rem;
	// 	padding-block-start: 0.2rem;
	// 	padding-block-end: 3.5rem;
	// 	padding-inline: 0.2rem;
	// 	background-color: white;
	// 	text-align: center;

	// 	.section-header {
	// 		display: flex;
	// 		align-items: center;

	// 		h1 {
	// 			padding-left: calc(var(--nav-pad) * 3);
	// 			font-weight: 600;
	// 			color: var(--clr-text-dark);
	// 		}

	// 		.tile-actions {
	// 			margin-inline-start: auto;
	// 			width: fit-content;

	// 			> .icon-container,
	// 			.menu-toggler {
	// 				padding: calc(var(--nav-pad) * 2.5);
	// 				border-radius: var(--border-radius);

	// 				&:hover {
	// 					background-color: var(--gray-border);
	// 				}
	// 			}

	// 			* {
	// 				color: black;
	// 			}
	// 		}
	// 	}

	// 	.section-main {
	// 		padding-inline: 0.6rem;
	// 	}
	// }

	.stopwatch-section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		overflow-y: hidden;
		margin-inline: auto;
		height: 100vh;

		.section-main {
			.watch-container {
				.watch-face {
					display: flex;
					justify-content: center;
					align-items: center;
					margin-block-end: 1.1rem;
					text-align: center;
					color: var(--clr-text-dark);

					&.idle {
						color: var(--clr-text);
					}

					> div {
						div {
							font-size: clamp(2.5rem, 5vw, 3.8rem);

							> span {
								font-size: clamp(2.5rem, 5vw, 3.8rem);
							}
						}

						> span {
							display: block;
							font-size: 0.7rem;
							padding-right: 0.75rem;
						}

						&:last-child {
							font-size: clamp(1.5rem, 5vw, 2.8rem);
						}

						&:not(:last-child) {
							div {
								span {
									vertical-align: top;
								}
							}
						}
					}
				}

				.watch-controller {
					display: flex;
					align-items: center;
					justify-content: center;
					gap: 0.7rem;

					span {
						display: grid;
						place-items: center;
						font-size: 2rem;
						cursor: pointer;

						&:first-child {
							color: var(--blue);
						}

						&.blur {
							svg {
								color: var(--grey);
								pointer-events: none;
							}
						}
					}
					> span {
						border: solid 1px var(--grey);
						border-radius: 50%;
						width: 2rem;
						height: 2rem;
						font-size: 1rem;
					}
				}
			}

			.bookmark-container {
				flex: 1;
				margin-inline: auto;
				max-width: 700px;
				// max-height: 250px;
				overflow-y: auto;

				.bookmark {
					width: 100%;

					thead {
						tr {
							th {
								position: sticky;
								top: 0;
								border-bottom: 1px var(--gray-border) solid;
								padding-block: 0.77rem;
								margin-block-end: 0.77rem;
								text-align: left;
								font-weight: 500;
							}
						}
					}

					tbody {
						tr {
							td {
								padding-block: 0.77rem;
								text-align: left;
								font-size: 0.9rem;
								font-weight: lighter;

								&:first-child {
									width: 30px;
								}
							}
						}
					}
				}
			}
		}

		&.hide {
			display: none;
		}

		&.hide-bookmark {
			.section-main {
				display: grid;
				place-items: center;
				height: 100%;

				.bookmark-container {
					display: none;
				}
			}
		}
	}
	@media screen and (max-width: 670px) {
		padding-top: 0;
	}

	@media screen and (min-width: 670px) {
		padding: 2rem;
	}

	@media screen and (min-width: 670px) and (max-width: 879px) {
		padding-block: 0.5rem;
	}

	@media screen and (min-width: 879px) {
		padding-block-start: 2.6rem;
	}
}

// util class
.flex-list {
	display: flex;
	align-items: center;
	gap: 0.7rem;
	padding: calc(var(--nav-pad) * 3);
	border-radius: var(--border-radius);

	&:not(:last-child) {
		margin-block-end: var(--nav-pad);
	}
}
